{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row ">
        <div class="col-md-8 m-auto  my-4">
            <table id="example"class="table align-middle mb-0 bg-white">
                
                <thead class="bg-light">
                  <tr >
                    <th>Name</th>
                    <th>Title</th>
                    <th>Position</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                {% if data %}
                <tbody>
                    {% for each in data %}
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="{{each.thumbnail}}"
                            alt="{{each.title}}"
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">{{each.title}}</p>
                          <p class="text-muted mb-0">{{each.developer}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{each.platform}}</p>
                      <p class="text-muted mb-0">{{each.genre}}</p>
                    </td>
        
                    <td>{{each.release_date}}</td>
                    <td>
                      <a href="{{each.game_url}}" target="_blank" type="button" class="btn btn-link btn-sm btn-rounded text-decoration-none">
                        Visit Game site 
                      </a>
                    </td>
                  </tr>
                 {% endfor %}
                </tbody>
                {% endif %}
              </table>
        </div>
    </div>
 </div>
{% endblock %}

